.about-section-3 {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;
}

.about-section-3 h2 {
  max-width: 800px;
  margin: auto;
}

.about-section-3 .content {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2.5em;
  flex-wrap: wrap;
}

.about-section-3 .content__item {
  border-radius: 1em;
  padding: 1.5em 3em;
  background-color: #f7f8fc;
  box-shadow: -15px -15px 20px rgba(255, 255, 255, 0.8),
    15px 15px 20px rgba(57, 65, 124, 0.08);
}

@media (max-width: 600px) {
  .about-section-3 > .content {
    flex-direction: column;
  }
}
